.itemcard {
    margin: 1rem;
    cursor: pointer;
    width: 80px;
}

.itemcard-icon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemcard-name {
    margin-top: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}